.books-details {
    font-family: "Crimson Text", serif;

}

.book-title {
    font-family: Kufam, cursive;
    font-size: 20px;

}

.book-author {
    font-family: "Crimson Text", serif;
    font-size: 20px;
}
