.header {
    list-style: none;
    font-family: "Agency FB", serif;
    font-size: 1.4rem;
    color: red;
}

.header .navbar.navbar-expand-lg.navbar-dark.bg-primary .navbar-brand {
    font-size: 2rem;
    font-family: "Agency FB", monospace;
}

.collapse.navbar-collapse .navbar-nav.mr-auto .nav-item .nav-link {
    font-family: "Agency FB", monospace;
    font-size: 1.3rem;
}

.books-amount {
    margin-right: 10px;
    padding-right: 10px;
    padding-left: 10px;

}

.books-amount .btn.btn-outline-danger.btn-block {
    font-family: "Crimson Text", serif;
    font-size: 1.5rem;
    list-style: none;
    color: #6d0200;
}

.books-amount :hover {
    text-decoration: none;
}

.books-amount .btn.btn-outline-danger.btn-block .total {
    /*font-size: 1.5rem;*/
    list-style: none;
    color: yellow;
    padding-right: 5px;
    padding-left: 5px;
}

.amount {
    /*font-size: 1.5rem;*/
    padding-right: 5px;
    padding-left: 5px;
    color: yellow;
}